[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
sqlalchemy = "*"
requests = "*"
streamlit = "*"
pymysql = "*"
mysql-connector-python = "*"
fastapi = "*"
pydantic = "*"
sqlalchemy-utils = "*"
pytest = "*"
protobuf = "==5.27.0"
tribool = "*"

[dev-packages]

[requires]
python_version = "3.13"
